extends layout.pug

block scripts
    link(rel='stylesheet', href='/css/user.css')
block content    
  body
    div(class='row')
        each characterSummary in characterSummaries
            div(class='col m4 characterSummary' style='background-image: url(https://www.bungie.net/' + characterSummary.backgroundPath +');')  
                a(href=`/user/${characterSummary.gamertag}/${characterSummary.membershipType}/${characterSummary.membershipId}/${characterSummary.characterBase.characterId}`)
                    img(src='https://www.bungie.net/' + characterSummary.emblemPath )
                    div(class='characterName')
                        strong #{characterSummary.characterBase.raceName} #{characterSummary.characterBase.className}
                        span(class='lightLevel') #{characterSummary.characterBase.powerLevel}
            